body{
    background-color: rgb(100, 100, 100);
}
#title{
    position: relative;
    font-size: 150px;
    left: 325px;
    top: 300px;
}
#popis{
    font-size: 40px;
    text-align: center;
    position: relative;
    left: -100px;
}
#title:hover{
    color: rgb(255, 255, 255);
}
#left1:hover{
    color: rgb(255, 255, 255);
}
#left2:hover{
    color: rgb(255, 255, 255);
}
#right1:hover{
    color: rgb(255, 255, 255);
}
#right2:hover{
    color: rgb(255, 255, 255);
}
#left1{
    position: relative;
    left: 330px;
    top: -80px;
    transform: rotate(90deg);
    height: 100px;
    width: 10px;
    background-color: black;
}
#left2{
    position: relative;
    left: 280px;
    top: -135px;
    height: 100px;
    width: 10px;
    background-color: black;
    
}
#right1{
    position: relative;
    height: 100px;
    width: 10px;
    background-color: black;
    left: 900px;
    top: -150px
}
#right2{
    position: relative;
    transform: rotate(90deg);
    position: relative;
    height: 100px;
    width: 10px;
    background-color: black;
    left: 850px;
    top: -205px
}
#ig{
    position: relative;
    left: 1500px;
    top: -400px;
    width: 350px;
    height: 150px;
    font-size: 55px;
    border-radius: 30px;
}
#email{
    position: relative;
    left: 1150px;
    top: -200px;
    width: 350px;
    height: 150px;
    font-size: 55px;
    border-radius: 30px;
}
#myDiv{
    width: 800px;
    position: relative;
    height: 300px;
    left: 00px;
}
