body{
    background-color: rgb(100, 100, 100);
}
#title{
    position: relative;
    font-size: 150px;
    left: 325px;
    top: 500px;
}
#title:hover{
    color: rgb(255, 255, 255);
}
#left1:hover{
    color: rgb(255, 255, 255);
}
#left2:hover{
    color: rgb(255, 255, 255);
}
#right1:hover{
    color: rgb(255, 255, 255);
}
#right2:hover{
    color: rgb(255, 255, 255);
}
#left1{
    position: relative;
    left: 330px;
    top: 120px;
    transform: rotate(90deg);
    height: 100px;
    width: 10px;
    background-color: black;
}
#left2{
    position: relative;
    left: 280px;
    top: 65px;
    height: 100px;
    width: 10px;
    background-color: black;
    
}
#right1{
    position: relative;
    height: 100px;
    width: 10px;
    background-color: black;
    left: 900px;
    top: 50px
}
#right2{
    position: relative;
    transform: rotate(90deg);
    position: relative;
    height: 100px;
    width: 10px;
    background-color: black;
    left: 850px;
    top: -3px

}